/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$large: 1170;
$medium: 970;
$small: 750;

$red: #d30202;
$green: #1abc9c;
$white: #ffffff;
$grey: #9095aa;
$bg: #070609;